<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>MClientsApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<body style="height: 100vh;">
	
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container" style="margin-top: 30vh">
		<div class="row justify-content-center align-center">
			<h3>Client Management Demo</h3>
		</div>
	
		<div class="row justify-content-center">
			<a href="/clients" class="btn btn-success">Get Started</a>
		</div>
	</div>

</body>
</html>
